html, body {
    overflow-x: hidden;
}

/*Config para fixar as duas divs laterais*/
.teste{
    position: fixed;
    margin-top: 15px;
}

.teste2{
    position: fixed;
    margin-top: 60px;
}

.teste3{
    position: fixed;
}

.teste4{
    position: fixed;
}

#teste99{
    position: fixed;
    width: 32.5%;
    z-index: 1;
    margin-top: -50px;
}

.pagina-principal{
    margin-top: 45px;
}

/*Fim Config para fixar as duas divs laterais*/

.list-menu{
    list-style-type: none;
}

.list-menu li {
    display: flex;
}

.list-menu span {
    margin-right: 10px;
    margin-left: 250px;
}

.flutter{
    margin-top: 1px;
    margin-left: 280px;
    margin-bottom: 20px;
}

.teste:hover{
   background-color: #1D9BF0; 
}

/*Config botao esquerda de Tweet*/
.botao1{
    margin-top: 390px;
    border-radius: 30px;
    width: 68%;
    height: 50px;
    margin-left: 280px;
    border: none;
    color: white;
    background-color: #1D9BF0 !important;
}

.botao1:hover{
    background-color: #1e86cc !important;
}
/*Fim Config botao esquerda de Tweet*/

/*Config icones*/
.material-icons{
    color: #1D9BF0;
}

#iconsLeft{
    color: black;
}

.col-auto{
    margin-left: -10px;
}
/*Fim config*/

/*Config usuario a esquerda na div1*/
.user-esquerda{
    position: fixed;
    display: flex;
    margin-top: 895px;
    margin-left: 293px;
}

.arr-user-esquerda{
    color: #837f7f;
}

#three-user-esquerda{
    margin-left: 20px;
    margin-top: 23px;
    color: black;
}

.text-user-left{
    margin-top: 10px;
}

.user-esquerda:hover{
    background-color: #E7E7E8;
    border-radius: 40px;
    height: 70px;
}

#icone-user-esquerda{
    margin-top: 12px;
    color: gray !important;
}
/*Fim Config usuario a esquerda na div1*/


/*Config segundo bloco da parte central (O que está acontecendo e afins)*/
.form-control{
    width: 500px;
    border: none;
    margin-left: -10px;
}

.icons-imgplus{
    margin-left: 51px;
}

.botao2{
    width: 80px;
    height: 35px;
    margin-left: 300px;
    border-style: none;
    border-radius: 30px;
    background-color: #1D9BF0 !important;
    color: white;
}
/*Fim Config segundo bloco da parte central (O que está acontecendo e afins)*/

/*Config 3 bloco parte central*/
.user1{
    margin-left: -3px;
    display: flex;
}

#userArr{
    color: #837f7f;
}

#user{
    color: black;
}

.textPub1{
    margin-top: 3px;
}

.user1{
    color: rgb(83, 100, 113);
}

.texto1{
    margin-left: 42px;
    margin-top: -23px;
}

.img-thumbnail{
    border-style: solid black;
    border-radius: 20px;
    margin: 35px;
    width: 550px;
    margin-top: -2px;
}

#sharePub{
    margin-left: 150px;
    color: black;
}

#favoritePub{
    margin-left: 150px;
    width: 0px;
    color: black;
}

#favoritePub:hover{
    color: red;
}

#repeatPub{
    width: 0px;
    margin-left: 120px;
    color: black;
}

#comentPub{
    width: 0px;
    margin-left: 50px;
    color: black;
}

#iconsPub{
    margin-top: -20px;
}

/*Fim Config 3 bloco parte central*/

/*Config "o que esta acontecendo" (Menu da direita)*/
.twitter-tweet{
    border-radius: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    width: 53%;
    background-color:#F7F9F9;
}
/*FIM CONFIF*/

/*Config sobre o tema das publicações a direita (o que esta acontecendo)*/
#cit{
    color: #837f7f;
}
/*Fim Config*/


/* Config "Pesquisar" e seu icone na direita*/
.search{
    margin: 5px;
    margin-left: 15px;
    background-color: #EFF3F4;
    border-radius: 25px;
    width: 53%;
}

#icone-pesquisa{
    margin-left: 10px;
    margin-top: 7px;
}

.form-pesquisa{
   margin-top: 0px;
   border-radius: 20px;
   width: 100%;
   height: 40px;
   border: none;
   background-color: #EFF3F4;
}
/* Fim Config "Pesquisar" e seu icone na direita*/

/*Config do que tem dentro do menu da direita*/
.texto-menuDireita{
    margin-left: 15px;
    margin-right: 15px;
}
/*Fim Config*/
